body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  